html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.ImportantItem {
    display: flex;
    justify-content: center;
    color: darkred;
    font-family: cursive;
    font-weight: bold;
}
footer {
    background-color: darkred;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 16px;
    position: absolute;
    top: 100%;
    flex-wrap: wrap;
}
.InfoTitle {
    color: white;
    text-shadow: 2px 2px black;
    text-justify: auto;
    font-size: 120%;
    font-family: cursive;
}

.contactsMainText {
    font-family: cursive;
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

    .contactsMainText:hover {
        color: aliceblue;
    }

.contactsText {
    font-family: cursive;
    color: white;
}

.socialMediaImg {
    display: flex;
    justify-content: space-around;
}

    .socialMediaImg img {
        width: 50px;
    }
.nav-link {
    font-family: cursive;
    font-size: 20px;
}
.Heading {
    color: darkred;
    text-shadow: 1px 1px #601F20;
    font-weight: 750;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
    .buttons #buyBtn {
        color: white;
        width: 240px;
        background-color: #79000E;
        border-color: #79000E;
    }
.btnDivAdmin {
    display: flex;
    justify-content: space-evenly;
}
.apartments-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.apartments {
    border: 3px solid #959593;
    width: 30%;
    border-radius: 10px;
    display: flex;
    font-family: 'Comic Sans MS';
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}
    .apartments img {
        max-width: 100%;
        /*height: 250px;*/
        object-fit: contain;
    }
.apartmentImg {
    display: flex;
    justify-content: center;
}

.apartments-description {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
}
.col-sm-10 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: darkred;
    font-family: cursive;
}
.houses-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.houses {
    border: 3px solid #959593;
    width: 30%;
    border-radius: 10px;
    display: flex;
    font-family: 'Comic Sans MS';
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

    .houses img {
        max-width: 100%;
        /*height: 250px;*/
        object-fit: contain;
    }

.housesImg {
    display: flex;
    justify-content: center;
}

.houses-description {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
}
.DetailsImage {
    text-align: center;
}
    .DetailsImage img {
        max-width: 100%;
        height: auto;
    }
.DetailPrice {
    font-size: 24px; /* Голям размер на шрифта */
    font-weight: bold; /* Удебелен текст */
    color: darkred; /* Бял цвят за текста */
    font-family: cursive;
    position: absolute; /* Позициониране на цената вътре в контейнера */
    top: 10px; /* Разстояние отгоре */
    right: 150px; /* Разстояние отдясно */
    
    padding: 5px 10px; /* Вътрешни отстояния за по-добър вид */
    border-radius: 5px;
}
.ApartmentInfoDetailed {
    font-size: 50px;
    font-weight: bold;
    color: darkred;
    font-family: cursive;
    text-align: center;
}
.left-column {
    font-weight: bold;
    font-size: 17px;
    font-family: cursive;
    color: darkred;
}

.right-column {
    font-size: 16px;
    font-family: cursive;
    color: darkred;
}
.zaglavieTable {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    color: darkred;
}
.apartmentInformation {
    position: relative;
    display: flex;
    align-items: center; /* Центрира вертикално снимката и цената */
    gap: 20px;
}
.DetailsImage {
    width: 50%;
    border: 2px solid #959593;
    border-radius: 1px;
    display: flex;
    justify-content: center;
}
    .DetailsImage img {
        max-width: 100%;
        max-height: 430px;
        height: auto;
    }
.DetailDescription {
    font-size: 20px;
    font-family: cursive;
    color: darkred;
   
}
.HouseInfoDetailed {
    font-size: 50px;
    font-weight: bold;
    color: darkred;
    font-family: cursive;
    text-align: center;
}
.houseInformation {
    position: relative;
    display: flex;
    align-items: center; /* Центрира вертикално снимката и цената */
    gap: 20px;
}




    