html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.ImportantItem {
    display: flex;
    justify-content: center;
    color: darkred;
    font-family: cursive;
    font-weight: bold;
}
footer {
    background-color: darkred;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 8px 16px;
    position: absolute;
    top: 100%;
    flex-wrap: wrap;
}
.InfoTitle {
    color: white;
    text-shadow: 2px 2px black;
    text-justify: auto;
    font-size: 120%;
    font-family: cursive;
}

.contactsMainText {
    font-family: cursive;
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: none;
}

    .contactsMainText:hover {
        color: aliceblue;
    }

.contactsText {
    font-family: cursive;
    color: white;
}

.socialMediaImg {
    display: flex;
    justify-content: space-around;
}

    .socialMediaImg img {
        width: 50px;
    }
.nav-link {
    font-family: cursive;
    font-size: 20px;
}
.Heading {
    color: darkred;
    text-shadow: 1px 1px #601F20;
    font-weight: 750;
}
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
    .buttons #buyBtn {
        color: white;
        width: 240px;
        background-color: #79000E;
        border-color: #79000E;
    }
.btnDivAdmin {
    display: flex;
    justify-content: space-evenly;
}
.apartments-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.apartments {
    border: 3px solid #959593;
    width: 30%;
    border-radius: 10px;
    display: flex;
    font-family: 'Comic Sans MS';
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}
    .apartments img {
        max-width: 100%;
        height: 250px;
        object-fit: contain;
    }
.apartmentImg {
    display: flex;
    justify-content: center;
}

.apartments-description {
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
}
.col-sm-10 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: darkred;
    font-family: cursive;
}


    